services:
  database:
    image: 'postgres:18'
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - ${PWD}/postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 15433:80
    env_file:
      - .env
    depends_on:
      - database
